a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#menu {
    /*background-color: #f03c01;*/
    width: 100%;
    height: 2rem;
    border-bottom: 5px solid #f03c01;
}

#menu ul {}

#menu ul li {
    float: left;
    /* background-color: #f03c01;*/
}

#menu ul li a {
    color: black;
    padding: 0.438rem;
    display: block;
    border-bottom: 5px solid #f03c01;
    text-align: center;
}

#menu ul li a:hover {
    border-bottom: 5px solid #0f499e;
}

#main {
    background-color: red;
    clear: left;
}
/*promociones*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container{
    display:flex;
    flex-wrap: wrap;
    background-color: skyblue;
}

.flex-container >div{
    width: 23%;
    margin: 10px auto 10px auto;
    padding:15px;
    text-align: center;
    background-color: green;
    color:black;
    font-size: 15px;
}


.flex-container >div>img{
    width: 80%;
    height: 80%;
   
}
@media screen and (max-width: 600px) and (orientation: portrait) {

    #menu {
        height: auto;
        /*por que no sabemos la altura dele elemento*/
        border-bottom: none;

    }

    #menu ul li a {
        float: none;
        width: 100%;
        border-bottom: none;
    }

    #menu ul li a:hover {
        border-bottom: none;
    }

    #menu ul {
        padding: 0;
    }

    #menu ul li {
        float: none;
    }

    #menu ul  li a:hover{ 

        border-bottom: none;
        border-left: 3px  solid #0f499e; 
      
   } 


   #menu ul  li a:active{ 

        border-bottom: none;
         border-left: 3px  solid #0f499e; 
   }

    #main,
    #footer {
        background-color: aqua;
    }
    #menu ul li a {
        border-left: 5px solid #f03c01;
    }
    #menu ul li a:active {
    border-left: 5px solid #0f499e;
}


.flex-container > div{
    width: 100%;
    margin: 10px;
    text-align: center;
}
.promocion{
    text-align: center;
  
}
}
