a {
    text-decoration: none;
    padding: 7px 14px;
    display: block;
    
    
}



#navegacion {
    background-color:white;
    width: 100%;
    height: 2rem;
    border-bottom: 3px solid #f03c01;
}

#navegacion ul {

    list-style: none;
}

#navegacion ul li {
    float: left;
    /* background-color: #f03c01;*/
}

#navegacion ul li a {
    color: black;
    border-bottom: 3px solid #f03c01;
    text-align: center;
   

}

#navegacion ul li a:hover{
    
    border-bottom: 3px solid #0F499E;
}

#main {
    clear: both;

}

hr {
    clear: both;
}

@media screen and  (max-width: 600px) and (orientation:portrait) {

    #menu ul li ,#menu ul li a {
       float:none;
       width:100%;
        border-left: 3px solid #f03c01;
    }
    
    #menu{
    
       border-bottom: none;
       height:auto;
       
   }
   
    #menu ul  li a:hover{ 
   
         border-bottom: none;
           border-left: 3px  solid #0f499e;
    } 
   
   
    #menu ul  li a:active{ 
       
         border-bottom: none;
         border-left: 3px  solid #0f499e;
    } 
    
     #menu ul{
       list-style-type:none;
       margin:0;
       padding-left:2%;	
       overflow:hidden;
       background-color:white;
       
       /*padding-inline-start:0; propiedad del estandar del user agent-navegador*/
       padding:0;
       
    }
     #main{
        clear:both; 
       /* margin-top:50%;*/
    }
    
    }